<div class="auto-filter">
    <div class="auto-filter-search row">
        <input class="align-self-center" [(ngModel)]="search" (focus)="searchFocusIn()" (keyup)="searchChange()" [placeholder]="labelText" #inputSearch>
        <button class="clear align-self-center" (click)="clearSearch($event)">X</button>
    </div>

    <ul class='auto-filter-list' *ngIf="showList" #listOptions>
        <li *ngFor="let item of list | filterItemByName:search | slice:0:limitToShow ; trackBy: itemTrackBy"
            (click)="onSelectOption($event,item)"
            (keyup.enter)="onSelectOption($event,item)"
            appHighlightWord [searchedWord]="search" [originalWord]="item.name"
            tabindex="0">
            {{item.name}}
        </li>
        <button *ngIf="listLength > limitToShow " (click)="showMore($event)">show more ...</button>
        <li *ngIf="showZeroState">No data to show</li>
    </ul>
</div>
