.auto-filter{
    padding-left: 10px;
    padding-right: 10px;
}

.auto-filter-list{
    position: absolute;
    background: white;
    padding: 10px;
    margin-top: -3px;
    max-height: 330px;
    overflow: auto;

    > li{
        padding: 5px;
        list-style: none;

        &:hover {
            background: #e3e5e7;
        }
    }

}

